 body{
  background-color: rgb(244, 249, 248);
 }
.task-box {
  display: flex;
  width: 100%;              
  margin: 20px auto;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;        /* joins borders */

  height: 48px;            /* controlled height */
}


.task-header,
.task-details,
.task-btn {
  display: flex;
  align-items: center;
  height: 100%;
}

/* Inputs */
.task-header {
  flex: 2;
}

.task-details {
  flex: 2;
  border-left: 1px solid #ccc;
}

.task-header input,
.task-details input {
  width: 100%;
  height: 100%;

  border: none;
  outline: none;

  padding: 0 14px;
  font-size: 15px;
}

/* Button */
.task-btn {
  border-left: 1px solid #ccc;
}

.add-task {
  width: 100%;
  height: 100%;

  border: none;           /* remove default */
  border-radius: 0;       /* flat edge */
}




/* Card */
.card-list-todo {
    height: 100%;
    background-color: bisque;
    border-radius: 10px;
    padding:  16px;
}

.choose-option{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding-bottom: 8px;
}

.card-list-inProgress {
    height: 100%;
    background-color: bisque;
    border-radius: 10px;
    padding:  16px;
}


.card-list-done {
    height: 100%;
    background-color: bisque;
    border-radius: 10px;
    padding:  16px;
}
/* 
#todoList {
  margin-bottom: 4px;
} */